<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="calendarMapper">
	<resultMap type="com.bykh.groupware.calendar.vo.CalendarVO" id="cal">
	<id column="SCHEDULE_CODE" property="id"/>
	<result column="EVENT_NAME" property="title"/>
	<result column="START_DATE" property="start"/>
	<result column="END_DATE" property="end"/>
	<result column="ALLDAY" property="allDay" jdbcType="CHAR" javaType="boolean"/>
	<result column="EMPNO" property="empno"/>
</resultMap>
<resultMap type="com.bykh.groupware.resource.vo.ResourceVO" id="resourceCal">
	<id column="SCHEDULE_CODE" property="id"/>
	<result column="EVENT_NAME" property="title"/>
	<result column="START_DATE" property="start"/>
	<result column="PARTICIPANT" property="participant"/>
	<result column="RESOURCE_CONTENT" property="resourceContent"/>
	<result column="END_DATE" property="end"/>
	<result column="ALLDAY" property="allDay" jdbcType="CHAR" javaType="boolean"/>
	<result column="EMPNO" property="empno"/>
</resultMap>


	
	 
	
<!-- 근태관리 캘린더 일정제거 -->
<delete id="deleteSchedule">
DELETE FROM  SCHEDUL_FOR_GROUPWARE WHERE EMPNO = #{empno}
</delete>
	
	
<!-- 근태관리 캘린더 일정추가 -->	
<insert id="insertSchedule">
INSERT INTO SCHEDUL_FOR_GROUPWARE (EVENT_NAME, START_DATE, END_DATE, ALLDAY, EMPNO)
VALUES (#{title}, #{start}, #{end}, #{allDay}, #{empno})
</insert>

<!--근태관리 캘린더 일정조회 -->
<select id="getAllSchedules" resultMap="cal">
SELECT SCHEDULE_CODE
		, EVENT_NAME
		, START_DATE
		, END_DATE
		, ALLDAY
	FROM SCHEDUL_FOR_GROUPWARE
	WHERE EMPNO = #{empno}
</select>



<!-- 자원관리 캘린더 일정제거 -->
<delete id="deleteResourceSchedule">
DELETE FROM SCHEDUL_FOR_RESOURCE WHERE EMPNO = #{empno} AND SCHEDULE_CODE = #{id}
</delete>
	
		
<!-- 자원관리 캘린더 일정추가 -->	
<insert id="insertResourceSchedule">
INSERT INTO SCHEDUL_FOR_RESOURCE (EVENT_NAME, START_DATE, END_DATE, ALLDAY, EMPNO, SCHEDULE_CODE)
VALUES (#{title}, #{start}, #{end}, #{allDay}, #{empno}, #{id})
</insert>


<!-- 자원관리 캘린더 일정(월) 업데이트 -->
<update id="resourceCalendarUpdate">
	MERGE INTO SCHEDUL_FOR_RESOURCE
USING DUAL
ON (EMPNO = #{empno} AND SCHEDULE_CODE = #{id})
WHEN MATCHED THEN
  UPDATE SET
    EVENT_NAME = #{title},
    START_DATE = #{start},
    END_DATE = #{end},
    ALLDAY = #{allDay}
WHEN NOT MATCHED THEN
  INSERT (EVENT_NAME, START_DATE, END_DATE, ALLDAY, EMPNO, SCHEDULE_CODE)
  VALUES (#{title}, #{start}, #{end}, #{allDay}, #{empno}, #{id})
</update>

<!-- 자원관리 캘린더 일정(주/일) 업데이트 -->
<update id="resourceCalendarUpdate2">
	MERGE INTO SCHEDUL_FOR_RESOURCE
USING DUAL
ON (EMPNO = #{empno} AND SCHEDULE_CODE = #{id})
WHEN MATCHED THEN
  UPDATE SET
    EVENT_NAME = #{title},
    START_DATE = #{start},
    END_DATE = #{end},
    ALLDAY = #{allDay}
WHEN NOT MATCHED THEN
  INSERT (EVENT_NAME, START_DATE, END_DATE, ALLDAY, EMPNO, SCHEDULE_CODE)
  VALUES (#{title}, #{start}, #{end}, #{allDay}, #{empno}, #{id})
</update>

<!--자원관리 캘린더 일정조회 -->
<select id="getAllResourceSchedules" resultMap="resourceCal">
SELECT SCHEDULE_CODE
		, EVENT_NAME
		, START_DATE
		, END_DATE
		, ALLDAY
FROM SCHEDUL_FOR_RESOURCE
WHERE EMPNO = #{empno}
</select>


<!--자원관리 캘린더  전체일정조회 -->
<select id="selectAllSchedules" resultMap="resourceCal">
  SELECT SCHEDULE_CODE
		, EVENT_NAME
		, START_DATE
		, END_DATE
		, ALLDAY
FROM SCHEDUL_FOR_RESOURCE
</select>



<!-- 자원관리 캘린더 디테일 내용추가 -->
<update id="insertScheduleDetail">
	UPDATE SCHEDUL_FOR_RESOURCE SET 
		PARTICIPANT = #{participant},
		RESOURCE_CONTENT = #{resourceContent}
		WHERE EMPNO = #{empno} AND SCHEDULE_CODE = #{id}
</update>


	
<!--자원관리 캘린더 디테일 내용 조회 -->
<select id="selectCalendarDetail" resultMap="resourceCal">
		SELECT PARTICIPANT, RESOURCE_CONTENT FROM SCHEDUL_FOR_RESOURCE
		WHERE SCHEDULE_CODE = #{id} AND EMPNO = #{empno}
</select>

<!--자원관리 캘린더 디테일 내용 조회(전체)  -->
<select id="selectCalendarDetailAll" resultMap="resourceCal">
		SELECT PARTICIPANT, RESOURCE_CONTENT FROM SCHEDUL_FOR_RESOURCE
		WHERE SCHEDULE_CODE = #{id}
</select>
	
<select id="getLastSchedulCode" resultType="int">
	SELECT NVL(MAX(SCHEDULE_CODE), 1) FROM SCHEDUL_FOR_RESOURCE
</select>



</mapper>



























