<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="deptMapper">
	<!--부서 테이블 -->
	<resultMap type="com.bykh.groupware.dept.vo.DeptVO" id="dept">
		<id column="DEPTNO" 					property="deptno"/>
		<result column="DENAME" 				property="dename"/>
		<result column="LOC"					property="loc"/>
		<result column="IS_USE"					property="isUse"/>

		<!--부서 수정_중복 확인  -->
		<result column="MODIFY_DENAME"					property="modifyDename"/>
	</resultMap>
	
	<!--지역데이터 _ 조직도 -->
	<resultMap type="com.bykh.groupware.dept.vo.OrganizationVO" id="organization">
		<result column="LOC" 					property="loc"/>
	</resultMap>
	
	<!--부서데이터 _ 조직도 -->
	<resultMap type="com.bykh.groupware.dept.vo.OrgDeptVO" id="orgDept">
		<result column="DEPTNO" 					property="deptno"/>
		<result column="DENAME" 					property="dename"/>
	</resultMap>
	
	<!--지도 테이블 -->
	<resultMap type="com.bykh.groupware.dept.vo.BranchLocationInfoVO" id="branchInfo">
		<id column="BRANCH_CODE" 					property="branchCode"/>
		<result column="BRANCH_ADDR" 				property="branchAddr"/>
		<result column="BY_WAY_BUS"					property="byWayBus"/>
		<result column="BY_WAY_SUBWAY"				property="byWaySubway"/>
		<result column="LATITUDE"					property="latitude"/>
		<result column="LONGITUDE"					property="longitude"/>

	</resultMap>
	
	
	
	
	<!--부서 등록 쿼리  -->
	<insert id="insertDept">
		INSERT INTO DEPT (DEPTNO
						, DENAME
						, LOC)
				VALUES ((SELECT TO_NUMBER(DECODE(#{loc}, '서울', '10', '인천', '20', '부산', '30', '여수', '40') || NVL(MAX(TO_NUMBER(SUBSTR(DEPTNO, 3))), 0) + 1) 
						FROM DEPT WHERE LOC = #{loc})
						, #{dename}
						, #{loc}
		)
	</insert>
	

	<!--부서 목록 조회  -->
	<select id="selectDeptList" resultMap="dept">
		SELECT DEPTNO
			, (REPLACE(TRIM(DENAME), ' ', '')) AS DENAME
			, LOC
			, IS_USE
		FROM DEPT	
		ORDER BY DEPTNO DESC
	</select>
	
	<select id="selectDeptListIsUse" resultMap="dept" >
		SELECT DEPTNO
			, (REPLACE(TRIM(DENAME), ' ', '')) AS DENAME
			, LOC
			, IS_USE
		FROM DEPT	
		WHERE IS_USE = 'Y'
		ORDER BY CASE LOC
		    WHEN '서울' THEN 4
		    WHEN '인천' THEN 3
		    WHEN '부산' THEN 2
		    WHEN '여수' THEN 1
		    ELSE 0 <!--  기타 경우 정렬 순서 -->
		END DESC
	</select>

	
	<!--부서 등록 중복검사  -->
	<select id="isDulicateDept" resultType="int">
		SELECT COUNT(DENAME)			
		FROM DEPT
		WHERE LOC =#{loc}
		AND DENAME =#{dename}
	</select>
	
	<!--부서 삭제  -->
	<delete id="deleteDept">
		DELETE DEPT
		WHERE DEPTNO =#{deptno}
	</delete>
	
	<!--부서 사용 여부 변경  -->
	<update id="updateIsUse">
		UPDATE DEPT
		SET IS_USE = DECODE(IS_USE, 'Y','N','N','Y')
		WHERE DEPTNO = #{deptno}
	</update>


	<!-- 조직도 조회 -->
	<select id="getLocList" resultMap="organization">
		SELECT LOC
		FROM 
		(
		    SELECT DISTINCT LOC, SUBSTR(DEPTNO, 0, 1)
		    FROM DEPT
		    ORDER BY SUBSTR(DEPTNO, 0, 1)
		)
	</select>
	
	<!--지역별 부서 리스트 -->
	<select id="getDeptListForOrg" resultMap="orgDept">
		SELECT DEPTNO
			, DENAME 
		FROM DEPT
		WHERE LOC = #{loc}
		AND IS_USE = 'Y'
		ORDER BY DEPTNO
	</select>
	
	<!--부서별 사원 리스트  -->
	<select id="getEmpListForOrg" resultMap="empMapper.emp">
		SELECT EMPNO
		    , ENAME
		    , E_JOB
		    , PHONE_TEL
		    , (SELECT ATTACHED_FILE_NAME FROM E_IMG WHERE EMPNO=EMP.EMPNO) AS ATTACHED_FILE_NAME
		FROM EMP
		WHERE DEPTNO = #{deptno}
		ORDER BY CASE E_JOB
		    WHEN '사장' THEN 5
		    WHEN '과장' THEN 4
		    WHEN '대리' THEN 3
		    WHEN '주임' THEN 2
		    WHEN '사원' THEN 1
		    ELSE 0  <!-- 기타 경우 정렬 순서 -->
		END DESC, ENAME ASC
	</select>


	<!-- 지사 지도 검색  -->
	<select id="selectBranchLocation" resultMap="branchInfo">
		SELECT BRANCH_CODE,
				BRANCH_ADDR,
				BY_WAY_BUS,
				BY_WAY_SUBWAY,
				LATITUDE,
				LONGITUDE
		FROM BRANCH_LOCATION_INFO	
		WHERE BRANCH_CODE=#{branchCode}			
	</select>
	
	
	<!--부서 수정_ 중복검사  -->
	<select id="isDuplicateModifyDename" resultType="int">
		SELECT COUNT(DENAME) 
				FROM (
				SELECT DEPTNO
					, DENAME	
				FROM DEPT WHERE LOC = #{loc}
				AND DENAME = #{modifyDename}
					) 
	</select>
	
	<!--부서 수정 쿼리  -->
	<update id="updateDename">
		UPDATE DEPT
		SET DENAME =#{modifyDename}
		WHERE LOC =#{loc}
		AND DEPTNO =#{deptno}
	</update>


</mapper>



























