<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="empMapper">
	<!--사원 테이블 -->
	<resultMap type="com.bykh.groupware.emp.vo.EmpVO" id="emp">
		<id column="EMPNO" 					property="empno"/>
		<result column="DEPTNO" 				property="deptno"/>
		<result column="ENAME"					property="ename"/>
		<result column="EPW"					property="epw"/>
		<result column="E_JOB" 					property="eJob"/>
		<result column="AGE" 					property="age"/>
		<result column="GENDER" 				property="gender"/>
		<result column="E_EMAIL" 				property="eEmail"/>
		<result column="PHONE_TEL" 				property="phoneTel"/>
		<result column="OFFICE_TEL" 			property="officeTel"/>
		<result column="E_ROLE" 				property="eRole"/>
		<result column="E_STATUS" 				property="eStatus"/>
		<result column="JOIN_DATE" 				property="joinDate"/>
		
		
		
		
		
		
		
		
		
		<collection property="deptVO" resultMap="deptMapper.dept"></collection>
		
	</resultMap>
	
	<!--사원 이미지 테이블  -->
	<resultMap type="com.bykh.groupware.emp.vo.EImgVO" id="eImg">
		<id column="IMG_CODE" 				property="imgCode"/>
		<result column="EMPNO" 					property="empno"/>
		<result column="ORIGIN_FILE_NAME" 		property="originFileName"/>
		<result column="ATTACHED_FILE_NAME" 	property="attachedFileName"/>
		
	</resultMap>
	
	<!--사원 등록  -->
	<insert id="insertEmp">
		INSERT INTO EMP(EMPNO
						, ENAME
						, EPW
						, JOIN_DATE
						, DEPTNO
						, E_JOB
						, E_STATUS)
				VALUES((SELECT TO_CHAR(SYSDATE, 'YY') || #{deptno}|| 
						LPAD(NVL(MAX(TO_NUMBER(SUBSTR(EMPNO, 3))), 0) + 1, 2, '0') 
						FROM EMP WHERE DEPTNO = #{deptno})
						, ename
						, epw
						, joinDate
						, deptno
						, eJob
						, eStatus
						)
	</insert>
	
	<!--사원 조회  -->
	<select id="selectEmpList" resultMap="emp">
		SELECT EMPNO
			, ENAME	
			, EPW
			, JOIN_DATE
			, (SELECT DNAME FROM DEPT WHERE EMPNO=#{empno})
			, E_JOB
			, E_STATUS		
		FROM EMP
		ORDER BY EMPNO DESC
	</select>
	
	<!--로그인 쿼리  -->
<!-- 	<select id="login" resultMap="emp">
		SELECT EMPNO
			, EPW
			, E_STATUS
		FROM EMP
		WHERE EMPNO = #{empno}
		AND EPW =#{epw}
	</select>
 -->
	
</mapper>



























