<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="empMapper">
	<!--사원 테이블 -->
	<resultMap type="com.bykh.groupware.emp.vo.EmpVO" id="emp">
		<id column="EMPNO" 					property="empno"/>
		<result column="DEPTNO" 				property="deptno"/>
		<result column="ENAME"					property="ename"/>
		<result column="EPW"					property="epw"/>
		<result column="E_JOB" 					property="eJob"/>
		<result column="AGE" 					property="age"/>
		<result column="GENDER" 				property="gender"/>
		<result column="E_EMAIL" 				property="eEmail"/>
		<result column="PHONE_TEL" 				property="phoneTel"/>
		<result column="OFFICE_TEL" 			property="officeTel"/>
		<result column="E_ROLE" 				property="eRole"/>
		<result column="E_STATUS" 				property="eStatus"/>
		<result column="E_ACCOUNT" 				property="eAccount"/>
		<result column="JOIN_DATE" 				property="joinDate"/>

		
		<result column="E_ACCOUNT_STR" 				property="eAccountStr"/>
		<result column="E_STATUS_STR" 				property="eStatusStr"/>
		<result column="SELECTED_E_STATUS" 			property="selectedEStatus"/><!--재직상태변경  -->
		<result column="SELECTED_E_ACCOUNT" 		property="selectedEAccount"/><!--계정상태 변경  -->
	
		
		<!-- 테스트용 임시 추가 - 희수 -->
		<result column="LEVEL" 				property="level"/>
		<association property="deptVO" resultMap="deptMapper.dept"></association>

		<!--사원 이미지 등록 -->
		<association property="eImgVO" resultMap="empMapper.eImg"/>
	</resultMap>
	
	<!--사원 이미지 테이블  -->
	<resultMap type="com.bykh.groupware.emp.vo.EImgVO" id="eImg">
		<id column="IMG_CODE" 				property="imgCode"/>
		<result column="EMPNO" 					property="empno"/>
		<result column="ORIGIN_FILE_NAME" 		property="originFileName"/>
		<result column="ATTACHED_FILE_NAME" 	property="attachedFileName"/>
		
	</resultMap>	
	
	
	<!--로그인 쿼리  -->
	<select id="login" resultMap="emp">
		SELECT EMPNO
			, EPW
			, E_ROLE
			, ENAME
		FROM EMP
		WHERE EMPNO = #{empno}
		AND E_ACCOUNT =1
	</select>
	
	
	<!--간편 사원 등록  -->
	<insert id="insertEmp">
		INSERT INTO EMP(EMPNO
						, ENAME
						, EPW
						, JOIN_DATE
						, DEPTNO
						, E_JOB
						, E_STATUS)
				VALUES (TO_CHAR(SYSDATE, 'YY') || #{deptno} || 
						LPAD((SELECT COUNT(*) + 1 FROM EMP WHERE DEPTNO = #{deptno}), 2, '0')
						, #{ename}
						, #{epw}
						, #{joinDate}
						, #{deptno}
						, #{eJob}
						, #{eStatus}
						)
	</insert>
	
	<!--사원 조회  -->
	<select id="selectEmpList" resultMap="emp">
		SELECT EMPNO
			, (REPLACE(TRIM(ENAME),' ', '')) AS ENAME	
			, EPW
			, TO_CHAR(JOIN_DATE, 'YYYY-MM-DD') AS JOIN_DATE
			, DENAME
			, E_JOB
			, EMP.DEPTNO
			, LOC		
			, E_STATUS
			, E_ACCOUNT
			, DECODE(E_STATUS, 1, '재직중', 2,'휴직', 3,'퇴직') AS E_STATUS_STR
			, DECODE(E_ACCOUNT, 1, '정상', 2,'휴면') AS E_ACCOUNT_STR	
			, DECODE(E_ROLE, 'USER', '직원', 'ADMIN','관리자','SUPER_ADMIN','책임 관리자') AS E_ROLE
		FROM EMP EMP, DEPT DEPT
		WHERE EMP.DEPTNO = DEPT.DEPTNO		
		<if test='searchValue !=null and !searchValue.equals("")'>
		AND UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
		</if>	
		
		ORDER BY EMPNO DESC
		OFFSET #{offsetCnt} ROWS FETCH FIRST #{displayCnt} ROWS ONLY
	</select>
	
	<!--header 사원 조회  -->
	<select id="selectForHeader" resultMap="emp">
		SELECT DISTINCT
			EMP.EMPNO,
			REPLACE(TRIM(ENAME),' ', '') AS ENAME,
			DENAME,
			E_JOB,
			LOC,
			E_STATUS,
			DECODE(E_STATUS, 1, '재직중', 2, '휴직', 3, '퇴직') AS E_STATUS_STR,
			PHONE_TEL,
			OFFICE_TEL,
			(SELECT ATTACHED_FILE_NAME FROM E_IMG WHERE EMPNO=EMP.EMPNO) AS ATTACHED_FILE_NAME
		FROM
			EMP EMP, DEPT DEPT
		WHERE
			EMP.DEPTNO = DEPT.DEPTNO
			<if test='searchValue != null and !searchValue.equals("")'>
				AND (
					UPPER(EMP.ENAME) LIKE '%' || UPPER(#{searchValue}) || '%'
					OR UPPER(DEPT.DENAME) LIKE '%' || UPPER(#{searchValue}) || '%'
					OR UPPER(EMP.EMPNO) LIKE '%' || UPPER(#{searchValue}) || '%'
					OR UPPER(EMP.E_JOB) LIKE '%' || UPPER(#{searchValue}) || '%'
					OR UPPER(DEPT.LOC) LIKE '%' || UPPER(#{searchValue}) || '%'
					)
			</if>
		ORDER BY EMPNO DESC
	</select>
	
	
    <!--검색 조회 쿼리 -->
	<select id="getEmpListCnt" resultType="int">
		SELECT DISTINCT COUNT(EMPNO)
		FROM EMP EMP, DEPT DEPT
		WHERE EMP.DEPTNO = DEPT.DEPTNO			
		<if test='searchValue !=null and !searchValue.equals("")'>
		AND UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
		</if>	
		
	</select>

	<!--사원의 사원 상세 정보 조회  -->
	<select id="selectEmpDetail" resultMap="emp">
		SELECT EMP.EMPNO
			, EMP.DEPTNO
			, LOC
			, DENAME
			, EPW
			, ENAME
			, E_JOB
			, TO_CHAR(JOIN_DATE,'YYYY-MM-DD') AS JOIN_DATE
			, E_EMAIL
			, PHONE_TEL
			, OFFICE_TEL
			,(SELECT ORIGIN_FILE_NAME FROM E_IMG WHERE EMPNO=EMP.EMPNO) AS ORIGIN_FILE_NAME
			,(SELECT ATTACHED_FILE_NAME FROM E_IMG WHERE EMPNO=EMP.EMPNO) AS ATTACHED_FILE_NAME
			, E_STATUS
		FROM EMP EMP, DEPT DEPT
		WHERE EMP.DEPTNO = DEPT.DEPTNO
		AND EMPNO = #{empno}
		AND ROWNUM = 1		
	</select>



	
	<!-- 사원 이미지 넣기  -->
<!-- 	<insert id="insertEmpImg">
		INSERT INTO E_IMG(
				IMG_CODE
				, ORIGIN_FILE_NAME
				, ATTACHED_FILE_NAME
				, EMPNO
				)
			VALUES(
				(SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE,5))), 0)+1 ,3,'0')FROM E_IMG)
				, #{originFileName}
				, #{attachedFileName}
				, #{empno}
			)
	</insert> -->
	
	<!-- 사원 이미지 update  -->
<!-- 	<update id="updateEmpImg">
		UPDATE E_IMG
			SET ORIGIN_FILE_NAME=#{originFileName},
				ATTACHED_FILE_NAME=#{attachedFileName}
		WHERE EMPNO =#{empno}				
	</update>
	 -->
	<!--기존 이미지가 등록되어 있으면 UPDATE, 기존 이미지가 등록되지 않았으면 INSERT  -->
	<update id="insertOrUpdateE_Img">
	    MERGE INTO E_IMG 
	    USING DUAL
	    ON (EMPNO = #{empno})
	    WHEN MATCHED THEN
	        UPDATE SET
	            IMG_CODE = (SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE,5))), 0)+1 ,3,'0')FROM E_IMG),
	            ORIGIN_FILE_NAME = #{originFileName},
	            ATTACHED_FILE_NAME = #{attachedFileName}
	        WHERE EMPNO = #{empno}
	    WHEN NOT MATCHED THEN
	        INSERT (IMG_CODE, ORIGIN_FILE_NAME, ATTACHED_FILE_NAME, EMPNO)
	        VALUES (
	            (SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE,5))), 0)+1 ,3,'0')FROM E_IMG),
	            #{originFileName}, #{attachedFileName}, #{empno})
	</update>



	
	<!--상세 사원 정보 등록  -->
	<update id="updateEmpDetail">
		UPDATE EMP
		SET ENAME = #{ename},
			DEPTNO =#{deptno},
			E_JOB =#{eJob},
			E_EMAIL =#{eEmail},
			OFFICE_TEL =#{officeTel},
			PHONE_TEL =#{phoneTel},
			E_STATUS = 
				CASE
			        WHEN #{eStatus} = 1 THEN
			            CASE
			                WHEN #{selectedEStatus} = 2 THEN 2
			                WHEN #{selectedEStatus} = 3 THEN 3
			                ELSE 1
			            END
			        WHEN #{eStatus} = 2 THEN
			            CASE
			                WHEN #{selectedEStatus} = 1 THEN 1
			                WHEN #{selectedEStatus} = 3 THEN 3
			                ELSE 2
			            END
			        WHEN #{eStatus} = 3 THEN
			            CASE
			                WHEN #{selectedEStatus} = 1 THEN 1
			                WHEN #{selectedEStatus} = 2 THEN 2
			                ELSE 3
			            END
			        ELSE #{eStatus}
			    END
		WHERE EMPNO = #{empno}			
	</update>

	
	<!--계정 상태 변경  -->
 	<update id="updateE_Account">
		UPDATE EMP
		SET 
			E_STATUS = 
				CASE
			        WHEN #{eStatus} = 1 THEN
			            CASE
			                WHEN #{selectedEStatus} = 2 THEN 2
			                WHEN #{selectedEStatus} = 3 THEN 3
			                ELSE 1
			            END
			        WHEN #{eStatus} = 2 THEN
			            CASE
			                WHEN #{selectedEStatus} = 1 THEN 1
			                WHEN #{selectedEStatus} = 3 THEN 3
			                ELSE 2
			            END
			        WHEN #{eStatus} = 3 THEN
			            CASE
			                WHEN #{selectedEStatus} = 1 THEN 1
			                WHEN #{selectedEStatus} = 2 THEN 2
			                ELSE 3
			            END
			        ELSE #{eStatus}
			    END,
			E_ACCOUNT = 
				CASE
			        WHEN #{eAccount} = 1 THEN
			            CASE
			                WHEN #{selectedEAccount} = 2 THEN 2
			                WHEN #{selectedEAccount} = 3 THEN 3
			                ELSE 1
			            END
			        WHEN #{eAccount} = 2 THEN
			            CASE
			                WHEN #{selectedEAccount} = 1 THEN 1
			                WHEN #{selectedEAccount} = 3 THEN 3
			                ELSE 2
			            END
			        WHEN #{eAccount} = 3 THEN
			            CASE
			                WHEN #{selectedEAccount} = 1 THEN 1
			                WHEN #{selectedEAccount} = 2 THEN 2
			                ELSE 3
			            END
			        ELSE #{eAccount}
			    END
		WHERE EMPNO = #{empno}	
	</update>
	
	<!--마이페이지 조회  -->
	<select id="selectSelfEmpDetail" resultMap="emp">
		SELECT EMP.EMPNO,
			EMP.DEPTNO,
			DEPT.LOC,
			DEPT.DENAME,
			EMP.EPW,
			EMP.ENAME,
			EMP.E_JOB,
			TO_CHAR(EMP.JOIN_DATE, 'YYYY-MM-DD') AS JOIN_DATE,
			EMP.E_EMAIL,
			EMP.PHONE_TEL,
			EMP.OFFICE_TEL,
			E_IMG.ATTACHED_FILE_NAME AS ATTACHED_FILE_NAME,
			EMP.E_STATUS
		FROM EMP
		JOIN DEPT ON EMP.DEPTNO = DEPT.DEPTNO
		LEFT JOIN E_IMG ON E_IMG.EMPNO = EMP.EMPNO
		WHERE EMP.EMPNO = #{empno}
		AND ROWNUM = 1
	</select>
		

	<!--사원 정보 수정  -->
	<update id="updateSelfEmpDetail">
		UPDATE EMP
		SET ENAME = #{ename},
			E_EMAIL =#{eEmail},
			OFFICE_TEL =#{officeTel},
			PHONE_TEL =#{phoneTel}
		WHERE EMPNO = #{empno}			
	</update>
	
	<!--비밀번호 가져오기  -->
	<select id="getEpw" resultType="String">
		SELECT EPW
		FROM EMP
		WHERE EMPNO =#{empno}
	</select>

	<!--비밀번호 변경하기 -->
	<update id="updateEpw">
		UPDATE EMP
		SET EPW =#{epw}
		WHERE EMPNO =#{empno}
	</update>
	
	<!--비밀번호 찾기 -->
	<select id="getEmailEpw" resultType="String">
		SELECT E_EMAIL
		FROM EMP
		WHERE EMPNO =#{empno}
		AND ENAME =#{ename}
	</select>
	
	<!--임시 비밀번호로 변경  -->
	<update id="updateImsiEpw">
		UPDATE EMP
		SET
		EPW = #{epw}
		WHERE EMPNO =#{empno}
		
	</update>
	
</mapper>



























