<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="userMapper">
	<resultMap type="com.bykh.groupware.User.vo.UserVO" id="user">
		<id column="TO_DO_CODE" 		property="toDoCode"/>
		<result column="EMPNO" 		property="empno"/>
		<result column="TO_DO_CONTENT" 		property="toDoContent"/>
	</resultMap>

<!--TO_DO_LIST 내용 저장  -->
<insert id="insertToDoList">
INSERT INTO TO_DO_LIST (
			TO_DO_CODE
			, TO_DO_CONTENT
			, EMPNO
		)
		VALUES (
			(SELECT 'TO_DO_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TO_DO_CODE, 7))), 0) + 1, 3, '0')
			FROM TO_DO_LIST)
			, #{toDoContent}
			, #{empno}
		)
</insert>






</mapper>



























