<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
   		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   		layout:decorate="~{fragment/admin_layout}">

<!-- 외부 css 파일 --> 
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
	<!-- 코드 작성 -->
	<div class="row">
		<div class="col">
		<form th:action="@{/notice/regNotice}" method="post">
		
			<div class="row">
				<div class="col">
					<table class="table table-borderless text-center align-middle">
						<colgroup>
							<col width="5%">
							<col width="*">
						</colgroup>
						<tr>
							<td class="text-end">제목</td>
							<td>
								<input type="text" class="form-control" name="boardTitle">
							</td>
						</tr>
						<tr>
							<td class="text-end align-baseline">내용</td>
							<td>
								<textarea class="form-control" rows="20" style="resize: none" name="boardContent"></textarea>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row p-0">
				<div class="col d-grid gap-2 d-md-flex justify-content-md-end align-middle">
					<div class="form-check me-md-2">
					  <input class="form-check-input" type="checkbox" name="isImportant" id="isImportant" value="Y">
					  <label class="isImportant" for="isImportant">
					    중요글
					  </label>
					</div>
					<button class="btn btn-primary" type="submit">등록</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
				
				</div>
			</div>
			
		</form>
		</div>
	</div>
	
	
</th:block>

<!-- 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src=""></script> -->
</th:block>

</html>