<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
   		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   		layout:decorate="~{fragment/admin_layout}">

<!-- 외부 css 파일 --> 
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
	<!-- 코드 작성 -->
	<div class="row mb-5">
		<div class="col">
		
		
			<div class="row">
				<div class="col">
					<table class="table text-center align-middle table-group-divider">
						<colgroup>
							<col width="10%">
							<col width="*">
							<col width="10%">
							<col width="20%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${#lists.size(noticeList) == 0}">
								<tr>
									<td colspan="5">등록된 게시글이 없습니다.</td>
								</tr>						
							</th:block>
							<th:block th:unless="${#lists.size(noticeList) == 0}">
								<tr th:each="important, state : ${noticeImportantList}"  class="table-light">
									<td>
										<span class="badge text-bg-success">중요</span>
									</td>
									<td class="text-start">
										<a th:href="@{/notice/detail(boardNum=${important.boardNum})}" style="color: black;">
										[[${important.boardTitle}]]
										</a>
									</td>
									<td>[[${important.ename}]]</td>
									<td>[[${important.boardDate}]]</td>
									<td>[[${important.boardView}]]</td>
								</tr>
								<tr th:each="notice, state : ${noticeList}">
									<td>[[${#lists.size(noticeList) - state.index}]]</td>
									<td class="text-start">
										<a th:href="@{/notice/detail(boardNum=${notice.boardNum})}" style="color: black;">
										[[${notice.boardTitle}]]
										</a>
									</td>
									<td>[[${notice.ename}]]</td>
									<td>[[${notice.boardDate}]]</td>
									<td>[[${notice.boardView}]]</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col d-grid d-md-flex justify-content-md-end">
					<input type="button" class="btn btn-primary" th:onclick="|location.href='@{/notice/regNotice}'|" value="글쓰기">
				</div>
			</div>
			
			
		</div>
	</div>
</th:block>

<!-- 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src=""></script> -->
</th:block>

</html>