<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야할 외부 css 파일 -->
<th:block layout:fragment="content_css">
   	<!-- <link rel="stylesheet" href="/"> -->
   	<style type="text/css">
   		.active > .page-link, .page-link.active {
   			background-color: #1e2b37;
   			border-color: #1e2b37;
   		}
   		.page-link {
   			color: #1e2b37;
   		}
   	</style>
</th:block>

<th:block layout:fragment="content">
	<div class="row">
		<div class="col">
			<div class="row mb-3">
				<div class="col fs-1 fw-bolder d-grid d-flex justify-content-between">
					<span>상품관리</span>
				</div>

			</div>
					<form action="/mro/mroManage" method="post" id="searchForm">
			<div class="row mb-3">
				<div class="col-2">
					<select class="form-select select-cate"  name="searchItemVO.searchCateNo">
						<option value="0" th:selected="${itemVO.searchItemVO == null or itemVO.searchItemVO.searchCateNo == 0}">카테고리 선택</option>
						<th:block th:each="cate : ${cateList}">
							<option th:value="${cate.cateNo}" 
							th:selected="${itemVO.searchItemVO != null and itemVO.searchItemVO.searchCateNo == cate.cateNo}">
							[[${cate.cateName}]]</option>
						</th:block>
					</select>
				</div>
				<div class="col-2">
						<input type="hidden" th:value="${itemVO.nowPage}" name="nowPage" id="nowPage">
						<!-- <input type="hidden" value="0" name="searchItemVO.searchCateNo" id="search-cate-no"> -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="상품명"
								aria-describedby="search-btn" name="searchItemVO.searchItemName"
								autocomplete="off">
							<button class="btn" type="submit" id="search-btn">검색</button>
						</div>
				</div>
				<div class="offset-7 col-1">
					<div class="d-grid">
						<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addItemModal">
							추가
						</button>
					</div>
				</div>
			</div>
					</form>
			<div class="row">
				<div class="col">
					<table class="table table-hover table-bordered text-center">
						<colgroup>
							<col width="10%">
							<col width="*">
							<col width="10%">
							<col width="10%">
							<col width="8%">
							<col width="15%">
							<col width="15%">
							<col width="8%">
						</colgroup>
						<thead class="">
							<tr>
								<td>상품그룹</td>
								<td>이름</td>
								<td>가격</td>
								<td>재고</td>
								<td>판매여부</td>
								<td>등록일</td>
								<td>수정일</td>
								<td>변경</td>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${#lists.size(itemList) != 0}">
								<tr th:each="item : ${itemList}">
									<td th:data-cate-no="${item.cateNo}">[[${item.categoryVO.cateName}]]</td>
									<td th:data-item-no="${item.itemNo}">[[${item.itemName}]]</td>
									<td th:data-item-price="${item.itemPrice}">[[${#numbers.formatCurrency(item.itemPrice)}]]</td>
									<td>[[${item.itemCnt}]]</td>
									<td th:data-is-use=${item.isUse}>[[${item.isUse == 'Y' ? '판매중' : '판매중단'}]]</td>
									<td>[[${item.regDate}]]</td>
									<td>[[${item.updateDate}]]</td>
									<td>
										<button class="btn" onclick="showUpdateItemModal(this);">변경</button>
									</td>
								</tr>
							</th:block>
							<th:block th:if="${#lists.size(itemList) == 0}">
								<tr>
									<td colspan="8">등록된 상품이 없습니다.</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-3">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:class="${itemVO.prev ? 'page-item' : 'page-item disabled'}">
								<a class="page-link" aria-label="Previous"
									href="javascript:void(0);"
									th:onclick="getOrderListPage([[${itemVO.beginPage - 1}]]);">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"
								th:each="pageNum : ${#numbers.sequence(itemVO.beginPage, itemVO.endPage)}">
								<a
								th:class="${pageNum == itemVO.nowPage ? 'page-link active' : 'page-link'}"
								href="javascript:void(0);"
								th:onclick="getOrderListPage([[${pageNum}]]);">
									[[${pageNum}]] </a>
							</li>
							<li th:class="${itemVO.next ? 'page-item' : 'page-item disabled'}">
								<a class="page-link" aria-label="Next"
									href="javascript:void(0);"
									th:onclick="getOrderListPage([[${itemVO.endPage + 1}]]);">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<!-- '추가' 클릭시 실행 -->
	<div class="modal fade" id="addItemModal" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">상품 추가</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form action="/mro/addItem" method="post">
					<div class="modal-body">
						<div class="row  mb-2">
							<div class="col-3">
								카테고리
							</div>
							<div class="col-9">
								<select class="form-select cateNo" name="categoryVO.cateNo">
									<option selected>카테고리 선택</option>
									<th:block th:each="cate : ${cateList}">
										<option th:value="${cate.cateNo}">[[${cate.cateName}]]</option>
									</th:block>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								상품명
							</div>
							<div class="col-9">
								<input type="text" class="form-control" name="itemName">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								가격
							</div>
							<div class="col-9">
								<input type="number" class="form-control" name="itemPrice">
							</div>
						</div>
						<div class="row  mb-2">
							<div class="col-3">
								재고
							</div>
							<div class="col-9">
								<input type="number" class="form-control" name="itemCnt">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-3">
								판매여부
							</div>
							<div class="col-9">
								<input type="radio" class="form-check-input" name="isUse" value="Y"> 판매중
								<input type="radio" class="form-check-input" name="isUse" value="N"> 판매중단
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
						<button type="submit" class="btn btn-primary">추가</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- '변경' 클릭시 실행 -->
	<div class="modal fade" id="updateItemModal" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">상품 변경</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form action="/mro/updateItem" method="post">
					<input type="hidden" value="0" class="item-no" name="itemNo">
					<div class="modal-body">
						<div class="row  mb-2">
								<div class="col-3">
									카테고리
								</div>
								<div class="col-9">
									<select class="form-select cate-no" name="cateNo">
										<option selected>카테고리 선택</option>
										<th:block th:each="cate : ${cateList}">
											<option th:value="${cate.cateNo}">[[${cate.cateName}]]</option>
										</th:block>
									</select>
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-3">
									상품명
								</div>
								<div class="col-9">
									<input type="text" class="form-control item-name" name="itemName">
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-3">
									가격
								</div>
								<div class="col-9">
									<input type="number" class="form-control item-price" name="itemPrice">
								</div>
							</div>
							<div class="row  mb-2">
								<div class="col-3">
									재고
								</div>
								<div class="col-9">
									<input type="number" class="form-control item-cnt" name="itemCnt">
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-3">
									판매여부
								</div>
								<div class="col-9">
									<input type="radio" class="form-check-input is-use" id="is-use-Y" name="isUse" value="Y" checked> 판매중
									<input type="radio" class="form-check-input is-use" id="is-use-N" name="isUse" value="N"> 판매중단
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
						<button type="submit" class="btn btn-primary">변경</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/mro/mro_manage.js"></script>
</th:block>

</html>