<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야할 외부 css 파일 -->
<th:block layout:fragment="content_css">
   	<!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="content">
   <!-- html 코드 작성 -->
</th:block>

<!-- 연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/"></script> -->
</th:block>

</html>