<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">
<link rel="shortcut icon" href="#">

</head>
<body>
    <div style="background-color: #0c141e; width: 20%; height:420px; margin: auto; margin-top: 258px; border-radius: 20px; ">
	    <div class="row justify-content-center mt-5">
			    <span style="color: white; margin-top: 30px; font-size: 40px; margin-left: 160px; margin-bottom: 10px; font-weight: bold;" >BYKH 로그인</span>    
	    </div>
        <div class="row">
            <div class="col-md-4">
                <form class="px-4 py-3 user-box" id="loginForm">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="empno" id="empno" placeholder="사번을 입력하세요." style=" width: 300px; margin-left:18px;" autocomplete="off">
                    </div>
                    <div class="mb-3" id="loginErrorDiv">
                        <input type="password" class="form-control" name="epw" id="epw" placeholder="비밀번호를 입력하세요." style=" width: 300px;  margin-left:18px;" autocomplete="off">
                    </div>
                    <div class="mb-3">
                    <span class="checkbox-wrapper " style="width: 500px; display: flex;">
						<input  type="checkbox" id="check" hidden="" style="flex-wrap: wrap; margin-top: 5px;">
						<label for="check" class="checkmark"></label>
							<span class="form-check-label" for="rememberMe" aria-describedby="remeberMeHelp" style="width: 100px; margin-left: 7px; font-size: 17px; color:#D8D8D8; margin-bottom: 2px; ">
                                기억하기
                            </span>
					</span>                
                    </div>
                    
                    <div class="d-grid gap-2 col-12 mx-auto">                    
	                    <input type="button" th:onclick="login();" value="로그인"  class="login" style="margin-left: 18px; width: 300px;"> 
                    </div>
                </form>                          
    <!--             <a class="dropdown-item" href="#" style="margin-left: 35px; font-size: 17px; color: #D8D8D8;">사번 찾기</a> -->
	            <a class="dropdown-item" th:href="@{/user/findEPWForm}"  style="margin-left: 35px; font-size: 16.5px; margin-top: 2px; color: #D8D8D8;">비밀번호 찾기</a> -->
            </div>
        </div>
		
	</div>
    
    
    
    

    


 	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script> 

</body>
</html>