<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/admin_layout}">

<th:block layout:fragment="content_css">
	<!--연결해야하는 외부 css  -->
	<!--<link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
메인 페이지 입니다.
</th:block>

<th:block layout:fragment="content_js">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	
	<!--연결해야하는 외부 js  -->
	<!-- <script type="text/javascript" src="/js/content/admin/cate_manage.js"></script> -->
</th:block>

</html>