<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headerFragment">
<style>
	
	#logoImg {
		width: 130px;
	   	height: 105px;
		margin-left: 80px;
	}
	
	.position-absolute {
		position: absolute;
		/* 이동할 위치 지정 */
		top: 65px;
		left: 1670px;
	}
	
	.dropdown-li:hover {
	  cursor: default;
	}
</style>


	<div class="row d-flex justify-content-between">
		<div class="col">
			<img src="/img/content/header/BYKHlogo.png" id="logoImg">
		</div>
		
	</div>


</th:block>

</html>
