@charset "UTF-8";


@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/*모든 css는 admin_layout.html의 container class에 적용하겠다.*/
.container{
	font-family: 'NanumSquareNeo-Variable';
	font-size: 20px;
	margin-top: 20px;
}

.table-head{
	color: white;
	background-color: #5f264a;
	font-weight: bold;
}

a{
	color: white;
}

.btn{
	color:white;
	background-color: #22415f;
	border: 0.3px solid #22415f;
	
}
.btn:hover{
	color:white;
	background-color: #466583;
	border: 0.3px solid #466583;
	
}
.head{
	height: 50px;
	}
	
