@charset "UTF-8";


@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/*모든 css는 admin_layout.html의 container class에 적용하겠다.*/
.container{
	font-family: 'Dovemayo_gothic';
	font-size: 20px;
	margin-top: 20px;
}

.table-head{
	color: white;
	background-color: #5f264a;
	font-weight: bold;
}

a{
	color: white;
}

.btn{
	color:white;
	background-color: #5f264a;
	border: 0.3px solid #5f264a;
	
}
.btn:hover{
	color:white;
	background-color: #957777;
	border: 0.3px solid #5f264a;
	
}