@charset "UTF-8";

.sgn-info-table, .stamp-table, .content-table { 
	--bs-table-border-color: black;
}

.sgn-info-table {
	width: 300px;
}

.sgn-info-table>tbody>tr>td:first-child {
	width: 100px; /* td의 너비를 원하는 크기로 설정 */
	height: 1rem; /* td의 높이를 원하는 크기로 설정 */
	background-color: #dddddd;
}

.sgn-info-table>tbody>tr>td:last-child {
	width: 200px; /* td의 너비를 원하는 크기로 설정 */
	height: 1rem; /* td의 높이를 원하는 크기로 설정 */
}

.full-width-input {
	width: 100%; /* 너비를 100%로 설정 */
	height: 100%; /* 높이를 100%로 설정 */
	box-sizing: border-box; /* padding과 border를 포함한 크기 지정 */
	border: none;
}

.full-width-input:focus {
	outline: none; /* 클릭 효과인 테두리 선을 없앰 */
}

.full-width-textarea {
	width: 100%; /* 너비를 100%로 설정 */
	height: 200px; /* 높이를 100%로 설정 */
	box-sizing: border-box; /* padding과 border를 포함한 크기 지정 */
	border: none;
}

.full-width-textarea:focus {
	outline: none; /* 클릭 효과인 테두리 선을 없앰 */
}

.stamp-table {
	display: flex;
	width: max-content; /* 테이블의 가로 길이를 자식 요소에 맞추기 위해 설정 */
}

.stamp-table td {
	flex: 1; /* 각 td 요소들을 균등하게 너비를 분배하기 위해 설정 */
}

.stamp-table>tbody>tr:first-child>td {
	background-color: #dddddd;
}

.stamp-table>tbody>tr:last-child>td, .stamp-table>tbody>tr:first-child>td
	{
	height: 1rem;
}

.stamp-table>tbody>tr:last-child>td {
	font-size: 0.8rem;
}

.stamp-table>tbody>tr:nth-child(2)>td {
	height: 80px;
	vertical-align: middle;
}

.content-table>tbody>tr:nth-child(4)>td {
	vertical-align: middle;
}

.content-table>tbody>tr:nth-child(4) {
	height: 200px;
}

.content-table>tbody>tr>td:last-child {
	text-align: left;
}

.content-table>tbody>tr>td:first-child {
	background-color: #dddddd;
}

.rounded-image {
	border-radius: 100%;
}

.btn-area{
	position: fixed;
	bottom: 0;
	
}
