<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/sign/annual_leave_form.css">
	
</th:block>

<th:block layout:fragment="content">
	<form action="/sign/insertSign" method="post" id="signDocForm">
	<div class="row">
		<div class="col-8" style="border: 1px solid #dee2e6;">
			<div class="row mt-3 mb-3">
				<div class="col text-center">
					<!-- <input type="hidden" value="1" name="docAnnualLeaveVO.dtNo" class="dtNo"> -->
					<input type="hidden" value="1" name="sgnStatus" class="sgnStatus">
					<input type="hidden" th:value="${docAnnualLeave != null ? docAnnualLeave.docNo : 0}" name="docNo" class="">
					<input type="hidden" value="1" name="approverNoStr" class="approverNoStr">
					<input type="hidden" value="1" name="referrerNoStr" class="referrerNoStr">
					<input type="hidden" th:value="연차신청서" name="docTitle" class=""><!-- 필요한지 확인 -->
					<!-- !!!!!!!!!!!!시큐리티 설정 적용 후 변경하기!!!!!!!!! -->
					<input type="hidden" th:value="${signWriteInfo.empVO.empno}" name="writerNo" class="writerNo">
					<h2>연차신청서</h2>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-7">
					<table class="table table-bordered text-center sgn-info-table">
						<tbody>
							<tr>
								<td>기안자</td>
								<td>
									[[${signWriteInfo.empVO.ename}]]<!-- 자동입력 -->
								</td>
							</tr>
							<tr>
								<td>기안부서</td>
								<td>
									[[${signWriteInfo.empVO.deptVO.dename}]]<!-- 자동입력 -->
								</td>
							</tr>
							<tr>
								<td>기안일</td>
								<td>
									[[${nowDate}]]<!-- 자동입력 -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class=" col-5">
					<div class="float-end">
						<table class="table table-bordered text-center stamp-table">
							<tbody>
								<!-- 결재자 추가시 추가되어야 하는 코드 시작 -->
								<tr class="eJobTr">
									<td>담당</td><!-- 직책 -->
									<td th:data-approver-no="${signWriteInfo.signVOList[0].approverNo}">
										[[${signWriteInfo.signVOList[0].approverJob}]]
									</td>
								</tr>
								<tr class="enameTr">
									<td>
										[[${signWriteInfo.empVO.ename}]]
									</td><!-- 도장 이미지 -->
									<td>
									</td>
								</tr>
								<tr class="nowDateTr">
									<td>[[${nowDate}]]</td><!-- 시간 -->
									<td></td>
								</tr>
								<!-- 결재자 추가시 추가되어야 하는 코드 끝 -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-bordered text-center content-table">
						<tbody>
							<colgroup>
								<col width="20%">
								<col width="*">
							</colgroup>
							<tr>
								<td>휴가 종류</td>
								<td>
									<input type="text" class="full-width-input annualType" 
									th:value="${docAnnualLeave != null and docAnnualLeave.dalType != null  ? docAnnualLeave.dalType : ''}" 
									placeholder="연차 / 반차" th:onkeyup="setDateTimeActivate();" name="docAnnualLeaveVO.dalType"
									autocomplete="off">
								</td>
							</tr>
						<tr>
							<td>기간 및 일시</td>
							<td>
								<div class="row">
									<div class="col-6">
										<div class="input-group">
											<input type="date" class="form-control start-date" 
											onchange="setLeaveDays();" name="docAnnualLeaveVO.startDate" 
											th:value="${docAnnualLeave != null and docAnnualLeave.startDate != null  
											? docAnnualLeave.startDate : ''}"
											autocomplete="off">
											<span class="input-group-text">-</span>
											<input type="date" class="form-control end-date"  
											onchange="setLeaveDays();" name="docAnnualLeaveVO.endDate"
											th:value="${docAnnualLeave != null and docAnnualLeave.endDate != null  
											? docAnnualLeave.endDate : ''}"
											autocomplete="off">
										</div>
									</div>
									<div class="col-6">
										<div class="input-group">
											<select class="form-select start-time" disabled name="docAnnualLeaveVO.startTime">
												<option>시작시간</option>
												<th:block th:each="startTime : ${#numbers.sequence(9, 18)}">
													<option
													th:selected="${docAnnualLeave != null and docAnnualLeave.startTime != 0
													and docAnnualLeave.startTime == startTime}"
													>
													[[${startTime}]]
													</option>
												</th:block>
											</select>
											 
											<span class="input-group-text">-</span>
											<select class="form-select end-time" disabled name="docAnnualLeaveVO.endTime">
												<option>종료시간</option>
												<th:block th:each="endTime : ${#numbers.sequence(9, 18)}">
													<option
													th:selected="${docAnnualLeave != null and docAnnualLeave.endTime != 0
													and docAnnualLeave.endTime == endTime}"
													>[[${endTime}]]</option>
												</th:block>
											</select>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
								<td>연차일수</td>
								<td>
								<!-- 잔여연차 자동입력 -->
									<input type="text" class="full-width-input show-leave-days" disabled>
									<input type="hidden" class="leave-days" name="docAnnualLeaveVO.leaveDays" value="0">
								</td>
							</tr>
							<tr>
								<td>휴가 사유</td>
								<td>
									<textarea class="full-width-textarea" name="docAnnualLeaveVO.leaveReason"
									autocomplete="off">[[${docAnnualLeave != null and docAnnualLeave.leaveReason != null
									? docAnnualLeave.leaveReason : ''}]]</textarea>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									1. 연차의 사용은 근로기준법에 따라 전년도에 발생한 개인별 잔여 연차에 한하여 사용합을 원칙으로 한다. 단, 최초입사시에는 근로기준법에 따라 발생 예정된 연차를 차용하여 월 1회 사용 할 수 있다.<br>
									2. 경조사 휴가는 행사일을 증명할 수 있는 가족 관계 증명서 또는 등본, 청첩장 등 제출<br>
									3. 공가(예비군/민방위)는 사전에 통지서를, 사후에 참석증을 반드시 제출
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
		<div class="col-4">
			<div class="row" style="min-height: 400px;">
				<div class="col-12">
					<div class="row">
						<div class="col-12">
							<h3>결재자 지정</h3>
						</div>
						<div class="col-8">
							<input type="text" class="form-control search-name" autocomplete="off">
						</div>
						<div class="col-4 d-grid">
							<input type="button" class="btn btn-primary" value="찾기" data-bs-toggle="modal" data-bs-target="#searchApproverModal">
<!-- 							<input type="button" class="btn btn-primary" value="찾기" data-bs-toggle="modal" data-bs-target="#searchApproverModal"> -->
						</div>
						<div class="col-12 mb-2">
							<div class="row mb-1 mt-1 d-flex align-items-center">
								<div class="col-3" style="border-right: 1px solid #dddddd;">
									<h5 style="text-align: center;">참조자</h5>
								</div>
								<div class="col-9 referrer-list-div" style="font-size: 16px;"></div>
							</div>
						</div>
						<div class="col-12  approver-list-div" style="min-height: 400px;">
							
							<th:block th:if="${signWriteInfo.signVOList != null}">
								<div class="row pt-2 pb-2 d-flex align-items-center justify-content-center border-bottom">
									
									<div class="col-3">
										<img th:src="${signWriteInfo.signVOList[0].attachedFileName == null ? '/upload/empImg/test.jpg' : '/upload/empImg/'+signWriteInfo.signVOList[0].attachedFileName}" width="60px;"
											class="rounded-image">
									</div>
									<div class="col-7">
										[[${signWriteInfo.signVOList[0].approverName}]]
										 [[${signWriteInfo.signVOList[0].approverJob}]]
										 <input type="hidden" class="approverNo" th:value="${signWriteInfo.signVOList[0].approverNo}">
									</div>
									<div class="col-2 d-grid">
										<input type="button" class="btn btn-primary" value="삭제"
											onclick="delApproverHTML(this);">
									</div>
								</div>
							</th:block>
						</div>
						
						
					</div>
				</div>
			</div>
			
				
			<div class="row">
				<div class="offset-8 col-4">
					<div class="row">
						<div class="col btn-area">
							<button type="button" class="btn btn-primary" onclick="insertAnnualLeave(0);">임시저장</button>
							<button type="button" class="btn btn-primary" onclick="insertAnnualLeave(1);">기안</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
	<!-- 결재자 찾기 모달 -->
	<div class="modal fade" id="searchApproverModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">결재자 추가</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body align-items-center pt-3">
					<div class="row">
						<div class="col-6">
							<ul class="border rounded dept-list-area">
								<th:block th:each="organization : ${organizationList}">
									<li class="m-3">
									<a class="loc text-dark" style="cursor: pointer;"> 
										<img src="/img/folder.png" width="30px" class="me-2" />[[${organization.loc}]]
									</a>
										<ul class="dept">
											<li th:each="dept : ${organization.orgDeptList}" style="padding-left: 50px;">
												<a class="link-dark" style="cursor: pointer;"
												th:onclick="getDeptEmpList([[${dept.deptno}]])">
													[[${dept.dename}]]
												</a>
											</li>
										</ul>
									</li>
								</th:block>
							</ul>
						</div>
						<div class="col-6">
							<div class="row">
								<div class="col emp-list-border rounded emp-list-area">
									
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</th:block>

<!-- 연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/sign/annual_leave_form.js"></script>
</th:block>

</html>