<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
   		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   		layout:decorate="~{fragment/admin_layout}">

<!-- 외부 css 파일 --> 
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href=""> -->
	<style type="text/css">
	.myBtn {
	color:black;
	background-color: #f8f9fa;
	border: 0.3px solid #466583;
	}
	.numberBtn {
		color: #466583;
	}
	</style>
</th:block>

<th:block layout:fragment="content">
	<!-- 코드 작성 -->
	<div class="row mb-5">
		<div class="col">
		<form th:action="@{/archive/update}" method="post" id="archiveUpdateForm" enctype="multipart/form-data">
		
			<div class="row">
				<div class="col">
					<table class="table text-center align-middle table-group-divider">
						<colgroup>
							<col width="10%">
							<col width="10%">
							<col width="*">
						</colgroup>
						<tr>
							<td class="table-light">제목</td>
							<td>
								<div class="form-check d-flex justify-content-evenly">
								  	<input class="form-check-input" type="checkbox" name="isImportant" id="isImportant" value="Y" th:checked="${archive.isImportant == 'Y'}">
								  	<label class="form-check-label" for="isImportant">
									    중요글
									</label>
								</div>
							</td>
							<td>
								<input type="text" class="form-control" name="boardTitle" id="boardTitle" th:value="${archive.boardTitle}">
							</td>
						</tr>
						<tr>
							<td class="align-baseline table-light">내용</td>
							<td colspan="2">
								<textarea name="boardContent" id="boardContent">[[${archive.boardContent}]]</textarea>
							</td>
						</tr>
						<tr>
							<td class="table-light">첨부파일</td>
							<td colspan="2" class="text-start">
								<button type="button" class="btn btn-primary btn-sm" onclick="addFileInputDiv(this);">파일 추가</button>
								<div class="mb-1" th:if="${#lists.size(archive.boardFileList) != 0}"
											th:each="file : ${archive.boardFileList}">
									<a th:href="@{/archive/download(fileNum=${file.fileNum})}" style="color: black; text-decoration:underline; text-underline-offset : 5px;">
									[[${file.originFileName}]]
									</a>
									 ([[${file.fileSize}]])
									<button class="btn btn-primary btn-sm" type="button" th:onclick="deleteAttachedFile([[${file.fileNum}]], this);">삭제</button>
								</div>
								<!-- 첨부파일 -->
							</td>
						</tr>
					</table>
					<div id="hiddenDiv">
						<input type="hidden" name="boardNum" th:value="${archive.boardNum}">
						<input type="hidden" name="boardStatus" th:value="${archive.boardStatus}">
					</div>
				</div>
			</div>
			
			<div class="row px-2">
				<div class="col d-grid d-md-flex justify-content-md-end" id="btnDiv">
					<button class="btn btn-primary" type="button" onclick="updateArchive();">등록</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
				
				</div>
			</div>
			
		</form>
		</div>
	</div>
	
	

</th:block>

<!-- 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/archive/archive_update.js"></script>
</th:block>

</html>