<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
   layout:decorate="~{fragment/admin_layout}">

<th:block layout:fragment="content_css">
	<!--연결해야하는 외부 css  -->
	<!--<link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
<div class="row">
	<div class="col">
		<canvas id="myChart"></canvas>
	</div>		
</div>
</th:block>

<th:block layout:fragment="content_js">
	<!--연결해야하는 외부 js  -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" src="/js/content/sales/sale_status_per_year.js"></script>
</th:block>

</html>
