<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
   layout:decorate="~{fragment/admin_layout}">

<th:block layout:fragment="content_css">
	<!--연결해야하는 외부 css  -->
	<!--<link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
	
</th:block>

<th:block layout:fragment="content_js">
	<!--연결해야하는 외부 js  -->
	<!--<script type="text/javascript" src=""></script> -->
</th:block>

</html>
